.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    

    .filter_group {
        display: flex;
        justify-content: space-between;
        margin-right: 48px;
        
        button {
            width: 100px;
            border: solid 1px rgb(255, 145, 0);
            border-radius: 3px;
            margin-top: auto;
            margin-bottom: auto;
            background-color: rgb(255, 255, 255);
            color: rgb(255, 145, 0);
            padding-top: .7em;
            padding-bottom: .7em;
        }
        input {
            margin-right: 12px;
            color: rgb(0, 0, 0);
            border: 1px solid rgb(255, 145, 0);
        }
    }
    .filters {
        display: flex;
        margin: auto;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(255, 145, 0);
        padding-top: .25em;
        padding-bottom: .25em;
        padding-left: .5em;
        padding-right: .5em;
        align-items: center;
        border-radius: 3px;

        .filter_item {
            font-size: 14px;
        }
    }
}