#tooltip {
    background: rgb(255, 145, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 4px 12px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
  }
#button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 136, 0);
    border-radius: 5px;
    border: 2px solid orange;
    margin-top: 10px;
    margin-bottom: 10px;
}

  #tooltip[data-show] {
    display: block;
  }

  #arrow,
  #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }

  #arrow {
    visibility: hidden;
  }

  #arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }

  #tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }

  #tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }

  #tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
  }

  #tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
  }